API_URL=<ST2_API>
API_VERSION=<ST2_API_VERSION>
MONGO_URL=<MONGO_URL>
MONGO_REPLICASET=<REPLICASET_NAME>
TOKEN=<STACKSTORM_TOKEN>
FUSEKI_USER=<FUSEKI_USER>
KAFKA_HOST=<KAFKA_HOST>
KAFKA_PORT=<KAFKA_PORT>
UPDATE_FUSEKI_ENDPOINT=<UPDATE_FUSEKI_ENDPOINT>
QUERY_FUSEKI_ENDPOINT=<QUERY_FUSEKI_ENDPOINT>